.home {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #fff;
}
.body-mid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
.nav-container{
    width: 100%;
    background-color: #fff;
   /*  background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.6) 100%); */
}

.principal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}