.projetos {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1;
  height: 1;
  gap: 40px;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
}


.projeto {
  width: 140px;
  height: 260px;
  border: 2px solid #222;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.projeto:hover {
  transform: scale(1.05);
}

.projeto-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.projeto-text {
  font-weight: bold;
  margin-top: 8px;
  color: #222;
}

.projetos-container {

  display: flex;
  gap: 20px;
}

.seguidorL {

  width: 180px;
  height: 150px;
  padding-left: 85px;
}

.SmartP{
  width: 180px;
  height: 150px;
  padding-left: 85px;
}
.Robo2R {
  width: 180px;
  height: 150px;
  padding-left: 85px;
}
.BracoR {
  width: 180px;
  height: 150px;
  padding-left: 85px;
}
.CasaI {
  width: 180px;
  height: 150px;
  padding-left: 85px;
}